force-app/main/default/flows/Send_High_Priority_Case_Notification_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_High_Priority_Case_Notification</name>
        <label>Send High Priority Case Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body { font-family: Arial, sans-serif; line-height: 1.6; padding: 20px; }
        .header { background-color: #d63031; color: white; padding: 15px; text-align: center; }
        .content { max-width: 600px; margin: 0 auto; }
        table { border-collapse: collapse; width: 100%; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 12px; text-align: left; }
        th { background-color: #f4f4f4; font-weight: bold; }
        .priority { color: #d63031; font-weight: bold; }
        .description { background-color: #f8f9fa; padding: 15px; border-left: 4px solid #0984e3; }
        .action-box { background-color: #fff3cd; padding: 15px; border: 1px solid #ffeaa7; margin: 20px 0; border-radius: 5px; }
        .btn { background-color: #0984e3; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block; }
        .footer { font-size: 12px; color: #666; text-align: center; margin-top: 30px; border-top: 1px solid #ddd; padding-top: 15px; }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;div class=&quot;header&quot;&gt;
            &lt;h2&gt;🚨 HIGH PRIORITY CASE ALERT 🚨&lt;/h2&gt;
        &lt;/div&gt;
        &lt;p&gt;&lt;strong&gt;A high-priority support case has been created and requires immediate attention.&lt;/strong&gt;&lt;/p&gt;
        &lt;table&gt;
            &lt;tr&gt;&lt;th colspan=&quot;2&quot;&gt;📋 Case Details&lt;/th&gt;&lt;/tr&gt;
            &lt;tr&gt;&lt;td&gt;&lt;strong&gt;Case Number:&lt;/strong&gt;&lt;/td&gt;&lt;td&gt;{!$Record.CaseNumber}&lt;/td&gt;&lt;/tr&gt;
            &lt;tr&gt;&lt;td&gt;&lt;strong&gt;Subject:&lt;/strong&gt;&lt;/td&gt;&lt;td&gt;{!$Record.Subject}&lt;/td&gt;&lt;/tr&gt;
            &lt;tr&gt;&lt;td&gt;&lt;strong&gt;Priority:&lt;/strong&gt;&lt;/td&gt;&lt;td class=&quot;priority&quot;&gt;{!$Record.Priority}&lt;/td&gt;&lt;/tr&gt;
            &lt;tr&gt;&lt;td&gt;&lt;strong&gt;Status:&lt;/strong&gt;&lt;/td&gt;&lt;td&gt;{!$Record.Status}&lt;/td&gt;&lt;/tr&gt;
            &lt;tr&gt;&lt;td&gt;&lt;strong&gt;Created Date:&lt;/strong&gt;&lt;/td&gt;&lt;td&gt;{!$Record.CreatedDate}&lt;/td&gt;&lt;/tr&gt;
            &lt;tr&gt;&lt;td&gt;&lt;strong&gt;Contact:&lt;/strong&gt;&lt;/td&gt;
                &lt;td&gt;
                    &lt;a href=&quot;{!BaseOrgURL}/lightning/r/Contact/{!$Record.ContactId}/view&quot; target=&quot;_blank&quot;&gt;
                        {!Get_Contact.FirstName} {!Get_Contact.LastName}
                    &lt;/a&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;&lt;td&gt;&lt;strong&gt;Account:&lt;/strong&gt;&lt;/td&gt;
                &lt;td&gt;
                    &lt;a href=&quot;{!BaseOrgURL}/lightning/r/Account/{!$Record.AccountId}/view&quot; target=&quot;_blank&quot;&gt;
                        {!Get_Account.Name}
                    &lt;/a&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;
        &lt;h3&gt;📝 Description:&lt;/h3&gt;
        &lt;div class=&quot;description&quot;&gt;
            {!$Record.Description}
        &lt;/div&gt;
        &lt;div class=&quot;action-box&quot;&gt;
            &lt;h3 style=&quot;color: #e17055; margin-top: 0;&quot;&gt;⚡ Action Required:&lt;/h3&gt;
            &lt;p&gt;Please review this case immediately and ensure appropriate resources are assigned.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div style=&quot;text-align: center;&quot;&gt;
            &lt;a href=&quot;{!BaseOrgURL}/lightning/r/Case/{!$Record.Id}/view&quot; class=&quot;btn&quot;&gt;🔗 View Case in Salesforce&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;footer&quot;&gt;
            &lt;em&gt;This is an automated notification from the Support Management System.&lt;br&gt;
            Please do not reply to this email.&lt;/em&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Recipients</name>
        <dataType>String</dataType>
        <value>
            <stringValue>bheki.sigelagelani@deptagency.com, jos.vervoorn@deptagency.com</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>BaseOrgURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://dept--devtask1.sandbox.lightning.force.com&quot;</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;HIGH PRIORITY CASE CREATED: &quot; &amp; {!$Record.CaseNumber} &amp; &quot; - &quot; &amp; {!$Record.Subject}</expression>
    </formulas>
    <interviewLabel>Send High Priority Case Notification Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send High Priority Case Notification Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_High_Priority_Case_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
